@keyframes opacity {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes margin {
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transform: translateY(0);
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    border-right: none;
  }
}

@keyframes typing2 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  10% {
    scale: 1;
    opacity: 1;
  }
  85% {
    scale: 1;
    opacity: 1;
  }
}
